@page "/not-found"

<PageTitle>Not found</PageTitle>

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6, col-10 justify-content-center">
        <h1 class="mb-3 text-center" style="font-size: 600%;">4<i class="far fa-question-circle fa-spin"></i>4</h1>

        <div class="mb-3">
            <h1 class="h3">Lo sentimos, no se encontró nada en esta dirección.</h1>
        </div>

        <div class="text-center mb-3">
            <a class="btn btn-secondary btn-lg" href="">Volver a Inicio</a>
        </div>
    </div>
</div>

@code {

}
